/* CONTENEDOR */
.container-grid-menu{
    background-color: white;
    display: flex;
    position: relative;
}

/* FILA */
.row{
    display: flex;
    justify-content: space-between;
    padding: 0rem 0rem;
}

/* MENU DESPEGABLE*/

.dropdown {
    padding:1rem;
    display: inline-block;
    position: relative;
  }

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 40%);
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 8rem;
    padding: 0rem 0rem 0rem 0rem;
}

.col-sm-5-menu{
    padding: 1.6rem 12rem 2rem 0rem;
}

button{
    display: flex;
    padding: 0rem 0rem;
    background-color: white;
}



/* LETRA MENU CON LINK*/

.dropdown-content a{
    display:block;
    color:transparent;
    padding:1rem;
    text-decoration: none;
}

p.menu:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

h1{
    border-right: solid;
    border-right-color: black;
    padding: 0.3rem 0.9rem;
    display: flex;
    font-size: 1rem;
    font-family: 'Tilt Prism', cursive;
}

/* LETRA MENU-CONTACTO */
p.menu-contacto{
    color: grey;
}

p.menu{
    position: absolute;
    color:black;
}


/* MEDIAS QUERY */

@media  (min-width:1024px) {
    .dropdown:hover .dropdown-content {
        display: flex;
        position: fixed;
        width: 60rem;
        padding: 0rem 0rem 0rem 0rem;
        flex-direction: row;
        justify-content: center;
    }

    .dropdown-content a{
        display: block;
        color: transparent;
        padding: 1rem 7rem;
        text-decoration: none;
    }
}